<div class="container">
  <button class="item" routerLink="news">
    <div class="circle">
      <mat-icon>list_alt</mat-icon>
    </div>
    <div class="info">
      <a class="link">News</a>
      <div class="text">Список новостей</div>
    </div>
  </button>
  <button class="item" routerLink="ab/abtest">
    <div class="circle">
      <mat-icon>call_split</mat-icon>
    </div>
    <div class="info">
      <a class="link">AB тесты</a>
      <div class="text">Конструктор web landing и АБ тестирование</div>
    </div>
  </button>
  <button class="item" routerLink="classroom">
    <div class="circle">
      <mat-icon>school</mat-icon>
    </div>
    <div class="info">
      <a class="link">Classroom</a>
      <div class="text">Activity, level, block, media</div>
    </div>
  </button>
  <button class="item" routerLink="localization">
    <div class="circle">
      <mat-icon>settings_applications</mat-icon>
    </div>
    <div class="info">
      <a class="link">Localization</a>
      <div class="text">Обновление файла локазизации</div>
    </div>
  </button>
  <button class="item" routerLink="offer/offer">
    <div class="circle">
      <mat-icon>production_quantity_limits</mat-icon>
    </div>
    <div class="info">
      <a class="link">Offer</a>
      <div class="text">Offer, offer representation, product, application</div>
    </div>
  </button>
</div>